<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Apartamentos Isla</title>
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link rel="shortcut icon" href="assets/images/" type="image/x-icon" />

</head>

<body>

<!-- <Header> -->

<header id="site-header" class="fixed-top">

    <div class="container">

        <nav class="navbar navbar-expand-lg stroke px-0">

            <h1><a class="navbar-brand" href="/en">

              <span class="fa fa-plane"></span> Apartamentos Isla</a></h1>

            <button class="navbar-toggler collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>

                <span class="navbar-toggler-icon fa icon-close fa-times"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav ml-lg-5 mr-auto">

                    <li class="nav-item active">

                        <a class="nav-link" href="/en">Home</a>

                    </li>

                    <li class="nav-item @@listing__active">

                        <a class="nav-link" href="/apartaments">Apartaments</a>

                    </li>

                    <li class="nav-item @@listing__active">

                        <a class="nav-link" href="/about">About us</a>

                    </li> 

                </ul>

                <ul>

                    <li>

                        <div class="top-quote mt-lg-0 mx-3">

                            <a href="/" class="btn btn-style btn-secondary"><span class="fa fa-language"></span>    ES</a>

                        </div>

                    </li>

                </ul>

</header>

<!-- </Header> -->

<!-- <Banner & Apartaments> -->

<section class="w3l-cover-3">

    <div class="cover top-bottom">

      <div class="container">

        <div class="middle-section text-center">

          <div class="section-width">

            <p>Mensaje</p>

            <h2>Mensaje</h2>

          </div>

        </div>

      </div>

    </div>

</section>

<section class="locations-1" id="locations">

    <div class="locations py-5">

        <div class="container py-lg-5 py-md-4 py-2">

            <div class="heading text-center mx-auto">

                <h3 class="title-big">Apartaments</h3>

            </div>

            <div class="row pt-md-5 pt-4">

                <div class="mt-3 col-lg-4 col-md-6">

                    <a href="/apartament">

                        <div class="box16">

                            <div class="rentext-listing-category"><span>Rent</span></div>

                            <img class="img-fluid" src="assets/images/p1.jpg" alt="">

                            <div class="box-content">

                                <h3 class="title">$0</h3>

                                <span class="post">Direction</span>

                            </div>

                        </div>

                    </a>

                </div>

                <div class="mt-3 col-lg-4 col-md-6">

                    <a href="/apartament">

                        <div class="box16">

                            <div class="rentext-listing-category"><span>Rent</span></div>

                            <img class="img-fluid" src="assets/images/p1.jpg" alt="">

                            <div class="box-content">

                                <h3 class="title">$0</h3>

                                <span class="post">Direction</span>

                            </div>

                        </div>

                    </a>
                    
                </div>

                <div class="mt-3 col-lg-4 col-md-6">

                    <a href="/apartament">

                        <div class="box16">

                            <div class="rentext-listing-category"><span>Rent</span></div>

                            <img class="img-fluid" src="assets/images/p1.jpg" alt="">

                            <div class="box-content">

                                <h3 class="title">$0</h3>

                                <span class="post">Direction</span>

                            </div>

                        </div>

                    </a>
                    
                </div>

                <div class="mt-3 col-lg-4 col-md-6">

                    <a href="/apartament">

                        <div class="box16">

                            <div class="rentext-listing-category"><span>Rent</span></div>

                            <img class="img-fluid" src="assets/images/p1.jpg" alt="">

                            <div class="box-content">

                                <h3 class="title">$0</h3>

                                <span class="post">Direction</span>

                            </div>

                        </div>

                    </a>
                    
                </div>

                <div class="mt-3 col-lg-4 col-md-6">

                    <a href="/apartament">

                        <div class="box16">

                            <div class="rentext-listing-category"><span>Rent</span></div>

                            <img class="img-fluid" src="assets/images/p1.jpg" alt="">

                            <div class="box-content">

                                <h3 class="title">$0</h3>

                                <span class="post">Direction</span>

                            </div>

                        </div>

                    </a>
                    
                </div>

                <div class="mt-3 col-lg-4 col-md-6">

                    <a href="/apartament">

                        <div class="box16">

                            <div class="rentext-listing-category"><span>Rent</span></div>

                            <img class="img-fluid" src="assets/images/p1.jpg" alt="">

                            <div class="box-content">

                                <h3 class="title">$0</h3>

                                <span class="post">Direction</span>

                            </div>

                        </div>

                    </a>
                    
                </div>

            </div>

        </div>

    </div>

</section>

<!-- </Banner & Apartaments> -->

<!-- <Descripciones> -->

<section class="w3l-bottom-grids py-5" id="steps">

    <div class="container py-lg-5 py-md-4 py-2">

        <div class="grids-area-hny main-cont-wthree-fea row">

            <div class="col-lg-4 col-md-6 grids-feature">

                <div class="area-box no-box-shadow">

                    <span class="fa fa-home"></span>

                    <h4><a href="#feature" class="title-head">Committed</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">

                <div class="area-box no-box-shadow">

                    <span class="fa fa-home"></span>

                    <h4><a href="#feature" class="title-head">Profesionals</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">

                <div class="area-box no-box-shadow">

                    <span class="fa fa-home"></span>

                    <h4><a href="#feature" class="title-head">Dedicated</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- </Descripciones> -->

<!-- </Reseñas> -->

<section class="w3l-index3" id="about">

    <div class="midd-w3 py-5">

        <div class="container pb-lg-5 pb-md-4 pb-2">

            <div class="row">

                <div class="col-lg-5 pr-lg-0">

                    <div class="w3l-left-img1">

                    </div>

                </div>

                <div class="col-lg-7 pl-lg-0">

                    <div class="w3l-right-info">

                        <h6 class="title-small">Our customers</h6>

                        <div class="client-grid">

                            <div class="client-title">

                                <h3 class="title-big">We value the relationship with our customers</h3>

                            </div>

                            <div class="clients-info">

                                <h3 class="title-big">2</h3>

                                <p>Satisfied customers</p>

                            </div>

                        </div>

                        <div class="w3l-clients" id="testimonials">

                            <div id="owl-demo1" class="owl-carousel owl-theme mt-4 pt-2 mb-4">

                                <div class="item">

                                    <div class="testimonial-content">

                                        <div class="testimonial">

                                            <div class="testi-des">

                                                <div class="peopl align-self">

                                                    <h4>Juan</h4>

                                                    <p class="indentity">Administrator</p>

                                                </div>

                                            </div>

                                            <blockquote>

                                                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</q>

                                            </blockquote>

                                        </div>

                                    </div>

                                </div>

                                <div class="item">

                                    <div class="testimonial-content">

                                        <div class="testimonial">

                                            <div class="testi-des">

                                                <div class="peopl align-self">

                                                    <h4>Juan</h4>

                                                    <p class="indentity">Administrator</p>

                                                </div>

                                            </div>

                                            <blockquote>

                                                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</q>

                                            </blockquote>

                                        </div>

                                    </div>

                                </div>

                                <div class="item">

                                    <div class="testimonial-content">

                                        <div class="testimonial">

                                            <div class="testi-des">

                                                <div class="peopl align-self">

                                                    <h4>Juan</h4>

                                                    <p class="indentity">Administrator</p>

                                                </div>

                                            </div>

                                            <blockquote>

                                                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</q>

                                            </blockquote>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- </Reseñas> -->

<!-- <Footer> -->

 <section class="w3l-footers-20">

  <div class="footers20">

    <div class="container">

      <div class="footers20-content">

        <div class="d-grid grid-col-4 grids-content">

          <div class="column">

            <a href="#url" class="link"><span class="fa fa-comments"></span></a>

            <a href="#url" class="title-small">Chat with us</a>

            <h4>Start a chat with one of our assessor.</h4>

            <a href="#url" class="btn btn-style btn-primary"> Start chat<span class="fa fa-long-arrow-right ml-2"></span> </a>

          </div>

          <div class="column">

            <a href="#url" class="link"><span class="fa fa-phone"></span></a>

            <a href="#url" class="title-small">Call us</a>

            <h4>Have questions or want more information? Call now</h4>

            <a href="tel:3209965741">

              <p class="contact-phone mt-2"><span class="lnr lnr-phone-handset"></span> 3209965741</p>

            </a>

          </div>

          <div class="column mt-lg-0 mt-md-5">

            <ul class="footers-17_social">

              <h4 class="d-inline mr-4">Follow us</h4>

              <li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>

              <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>

              <li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>

            </ul>

          </div>

        </div>

        <div class="d-grid grid-col-3 grids-content1 bottom-border">

          <div class="columns copyright-grid align-self">

            <p class="copy-footer-29">© 2020 Apartaments Isla. All rights reserved</p>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>

<!-- </Footer> -->

<!-- <Script> -->

<script src="assets/js/jquery-3.3.1.min.js"></script>

<script src="assets/js/owl.carousel.js"></script>

<script src="assets/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
    $('.owl-blog').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
        0: {
            items: 1,
            nav: true
        },
        480: {
            items: 1,
            nav: true
        },
        700: {
            items: 1,
            nav: true
        },
        1090: {
            items: 1,
            nav: true
        }
        }
    })
    })
    
</script>

<script>
    $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
        0: {
            items: 1,
            nav: false
        },
        736: {
            items: 1,
            nav: false
        }
        }
    })
    })
</script>

<script>
    $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
    } else {
        $("#site-header").removeClass("nav-fixed");
    }
    });

    $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
    });

    $(document).on("ready", function () {
        
    if ($(window).width() > 991) {
        $("header").removeClass("active");
    }

    $(window).on("resize", function () {
        if ($(window).width() > 991) {
        $("header").removeClass("active");
        }
    });
    });

</script>

<!-- </Script> -->

</body>

</html>